@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

/* Colors */
:root {
  --color-default: #131313;
  --color-secondary: #f85a40;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

body {
  font-family: var(--font-default);
  color: var(--color-default);
  background-color: #f8f7f7;

}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #00b6a1;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/


section {
  padding: 60px 0;
  overflow: hidden;
}

.sections-bg {
  background-color: #f6f6f6;
}

.section-header {
  text-align: center;
  padding-bottom: 60px;
  margin-top: 35px;
}

.section-header h2 {
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-header p {
  margin-bottom: 0;
  color: #6f6f6f;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs .page-header {
  padding: 60px 0 60px 0;
  min-height: 20vh;
  position: relative;
  background-color: var(--color-primary);
}

.breadcrumbs .page-header h2 {
  font-size: 56px;
  font-weight: 500;
  color: #fff;
  font-family: var(--font-secondary);
}

.breadcrumbs .page-header p {
  color: rgba(255, 255, 255, 0.8);
}

.breadcrumbs nav {
  background-color: #f6f6f6;
  padding: 20px 0;
}

.breadcrumbs nav ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-default);
}

.breadcrumbs nav ol a {
  color: var(--color-primary);
  transition: 0.3s;
}

.breadcrumbs nav ol a:hover {
  text-decoration: underline;
}

.breadcrumbs nav ol li+li {
  padding-left: 10px;
}

.breadcrumbs nav ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: var(--color-secondary);
  content: "/";
}

/*  Style Tombol Scroll Top */
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 18px;
  bottom: -15px;
  z-index: 555;
  border: 2px solid #e01010;
  width: 44px;
  height: 44px;
  border-radius: 19px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 28px;
  color: #161616;
  line-height: 0;
  transition: color 0.4s;
}

.scroll-top:hover i {
  color: #fff;
}

.scroll-top:hover {
  background-color: #e01010;
  border: 2px solid #ffffff;
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}

/* Akhir Tombol Scroll Top */

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: #fff;
  transition: all 0.6s ease-out;
}

#preloader img {
  width: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 3px);
  left: 0;
  width: 100%;
  height: 6px; 
  background: red; 
  -webkit-animation: animate-preloader 2s linear infinite;
  animation: animate-preloader 2s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    left: -100%;
  }
  100% {
    left: 100%; 
  }
}

@keyframes animate-preloader {
  0% {
    left: -100%; 
  }
  100% {
    left: 100%; 
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/* Style Bagian Header */
#topbar {
  height: 50px;
  position: relative; 
  transition: all 0.5s;

}

.img-kiri {
  width: 150px; 
  height: 25px; 
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  right: 10px; 
}

.img-kanan {
  width: 150px; 
  height: 25px; 
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  left: 10px;
}


.header {
  transition: all 0.5s;
  z-index: 997;
  height: 75px;
  background-color: red;
}

.header.sticked {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.sticked-header-offset {
  margin-top: 70px;
}

section {
  scroll-margin-top: 70px;
}
/* Akhir Sampai Sini */


/* Deskop navigasi */
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fafafa;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  /* Hover Navbar Menu Efek */
  .navbar>ul>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    bottom: -6px;
    left: 0;
    background-color: #ebebeb;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: scaleX(0);
    transform-origin: center bottom;
  }

  .navbar>ul>li>a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  .navbar>ul>li>a:hover {
    transform: translateY(-5px);
  }

  .navbar>ul>li.dropdown:hover>a::before {
    visibility: hidden;
    transform: scaleX(0);
  }

  .navbar>ul>li.dropdown:hover>a {
    transform: none;
  }

  .navbar>ul>li.dropdown:hover ul li a::before {
    visibility: visible;
    transform: scaleX(1);
  }

  /* Akhir Sampai Sini */


  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: -13px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }

  .navbar .nav-item {
    position: relative;
  }

  .navbar .dropdown-indicator {
    position: absolute;
    top: 50%;
    right: -16px;
    color: #fafafa;
    transform: translateY(-50%);
    transition: transform 0.3s;
  }

  @keyframes rotateUp {
    0% {
      transform: translateY(-50%) rotate(0deg);
    }

    100% {
      transform: translateY(-50%) rotate(-180deg);
    }
  }

  @keyframes rotateDown {
    0% {
      transform: translateY(-50%) rotate(-180deg);
    }

    100% {
      transform: translateY(-50%) rotate(0deg);
    }
  }

  /* Tambahkan ini untuk menghilangkan efek pada elemen dropdown */
  .navbar .nav-item.dropdown:hover .dropdown-indicator {
    animation: rotateUp 0.3s ease;
    animation-fill-mode: forwards;
  }

  .navbar .nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }

  .navbar .nav-item.dropdown .dropdown-indicator {
    transition: transform 0.3s;
    /* Tambahkan transisi */
  }

  .navbar .nav-item.dropdown:not(:hover) .dropdown-indicator {
    animation: rotateDown 0.3s ease;
    animation-fill-mode: forwards;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
    color: #222222;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #df0000;
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }

  .footer .footer-info-single {
    margin-left: 50px;
  }

  .newsletter{
    margin-left: 50px;
  }
}

/* Style Untuk Search Menu */
.search-wrapper {
  position: relative;
  width: 250px;
  overflow: hidden;
  margin-left: 25px;
  margin-top: -7px;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;

}

.search-icon img {
  width: 18px;
  transition: opacity 0.3s ease-in-out;
  filter: brightness(0) invert(1);
}

.search-input.active+.search-icon i {
  opacity: 0;/
}

.search-input {
  width: 0;
  padding: 10px;
  border: none;
  outline: none;
  background: transparent;
  transition: width 0.3s ease-in-out;
  margin-left: 25px;
  color: #fafafa;
}

.search-input.active {
  margin-left: 25px;
  width: 230px;
  border-bottom: 2px solid #fafafa;
  color: #fafafa;
}

::placeholder {
  color: #fafafa;
  font-family: 'Poppins', sans-serif;
}

.search-wrapper .btn-close {
  display: none;
  left: 10px;
}

.search-wrapper.active .btn-close {
  display: inline-block;
}

.search-icon-line {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 2px;
  transform-origin: right;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

}

.search-input.active+.search-icon-line {
  transform: scaleX(0);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Akhir Sampai Sini */


/* Style Untuk Bagian Swipe Img */
.swiper-slide img {
  max-width: 100%;
  height: auto;
}

/* Gaya CSS untuk pagination */
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  /* Jarak antara pagination dan tombol "Next" dan "Prev" */
}

.swiper-pagination .swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  background-color: red;
  border-radius: 0;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.swiper-pagination .swiper-pagination-bullet:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.swiper-pagination .swiper-pagination-bullet:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: rgb(211, 19, 19);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
}

/* Akhir Nya Sampai Sini */



@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (min-width: 1280px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .header.sticked {
    height: 50px;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: rgba(245, 4, 24, 0.8);
    backdrop-filter: blur(10px); 
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }
  

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.822);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }

  .navbar .getstarted,
  .navbar .getstarted:focus {
    background: var(--color-primary);
    padding: 8px 20px;
    border-radius: 4px;
    margin: 15px;
    color: #fff;
  }

  .navbar .getstarted:hover,
  .navbar .getstarted:focus:hover {
    color: #fff;
    background: rgba(0, 131, 116, 0.8);
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    background-color: #ad000e;
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-show {
    color: rgba(255, 255, 255, 0.6);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    margin-right: 10px;
  }

  .mobile-nav-hide {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(10, 10, 10, 0.808);
    z-index: 9996;
    opacity: 0;
    animation: fade-in 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .swiper-button-next:after, .swiper-button-prev:after{
    display: none;
  }
  
  .swiper-pagination .swiper-pagination-bullet{
    height: 2px;
  }

  .copyright p{
    font-size: 13px;
  }
}

/* Optimalisasi Img */
 @media (min-width: 320px) and (max-width: 480px) {
.swiper-slide img{
    height: auto;
    width: 100%;
  }
  
  .header {
    height: 45px;
  }
/* 
  .portfolio-flters li{
    margin-bottom: -50px;
  } */
} 
/* Akhir Sampai Sini 


/* Style Untuk Bagian Servis Costumer */
.service {
  padding: 40px 0;
  text-align: center;
}

.section-header {
  margin-bottom: 30px;
}

.service-icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  margin-top: -80px;
}

.service-icon:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.service-icon img {
  max-width: 40px;
  margin-bottom: 5px;
}

.service-icon p {
  font-size: 14px;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-top: 15px;
}

.service-icon a {
  font-size: 14px;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-top: 15px;
  color: #000;
}

@media (max-width: 768px) {
  .service-icons {
    grid-template-columns: repeat(3, 1fr);
  }

  .service-icon img {
    max-width: 30px;
  }

  .service-icon p {
    font-size: 13px;
  }
}

/* Akhir Sampai Sini */


/*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/
portfolio .portfolio-flters {
  padding: 0 0 20px 0;
  margin: 0 auto;
  list-style: none;
  /* text-align: center; */
}

.portfolio .portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  margin: 0 10px;
  line-height: 1;
  transition: all 0.3s ease-in-out;
  font-family: var(--font-secondary);
  text-align: right;
}


.portfolio .portfolio-flters li:hover,
.portfolio .portfolio-flters li.filter-active {
  color: #df0000;
}

#BigBike {
  color: var(--color-default);
}

.portfolio .portfolio-flters li:first-child {
  margin-left: 0;
}

.portfolio .portfolio-flters li:last-child {
  margin-right: 0;
}

@media (max-width: 575px) {
  .portfolio .portfolio-flters li {
    font-size: 14px;
    margin: 0 5px;
  }
}

.portfolio .portfolio-wrap {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
}

.portfolio .portfolio-wrap img {
  transition: 0.3s;
  position: relative;
  z-index: 1;
  width: 250px;
}

.portfolio-info {
  text-align: left;
}

.portfolio .portfolio-wrap .portfolio-info {
  padding: 25px 20px;
  background-color: #fff;
  position: relative;
  border-top: 1px solid #f3f3f3;
  z-index: 2;
}

.portfolio .portfolio-wrap .portfolio-info a h4 {
  font-size: 22px;
  padding-right: 50px;
  font-weight: 500;
  font-family: var(--font-primary);
  color: #272727;
}


.portfolio .portfolio-wrap .portfolio-info h4 a {
  color: #505050;
  transition: 0.3s;
}

.portfolio-wrap a {
  font-family: var(--font-primary);
  color: var(--color-default);
}


.portfolio .portfolio-wrap .portfolio-info h3 {
  color: #3e4246;
  font-size: 15px;
  margin-bottom: 17px;
  padding-right: 50px;
  font-weight: bold;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Portfolio Details Section
--------------------------------------------------------------*/
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

.portfolio-details .swiper-button-prev,
.portfolio-details .swiper-button-next {
  width: 48px;
  height: 48px;
}

.portfolio-details .swiper-button-prev:after,
.portfolio-details .swiper-button-next:after {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.portfolio-details .swiper-button-prev:hover:after,
.portfolio-details .swiper-button-next:hover:after {
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 575px) {

  .portfolio-details .swiper-button-prev,
  .portfolio-details .swiper-button-next {
    display: none;
  }
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.portfolio-details .portfolio-info h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  font-size: 16px;
}

.portfolio-details .portfolio-info ul strong {
  text-transform: uppercase;
  font-weight: 400;
  color: #9c9c9c;
  font-size: 12px;
}

.portfolio-details .portfolio-info .btn-visit {
  padding: 8px 40px;
  background: var(--color-primary);
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
}

.portfolio-details .portfolio-info .btn-visit:hover {
  background: #009d8b;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

.portfolio-details .portfolio-description .testimonial-item {
  padding: 30px 30px 0 30px;
  position: relative;
  background: white;
  height: 100%;
  margin-bottom: 50px;
}

.portfolio-details .portfolio-description .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50px;
  border: 6px solid #fff;
  float: left;
  margin: 0 10px 0 0;
}

.portfolio-details .portfolio-description .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0 5px 0;
  padding-top: 20px;
}

.portfolio-details .portfolio-description .testimonial-item h4 {
  font-size: 14px;
  color: #6c757d;
  margin: 0;
}

.portfolio-details .portfolio-description .testimonial-item .quote-icon-left,
.portfolio-details .portfolio-description .testimonial-item .quote-icon-right {
  color: #009d8b;
  font-size: 26px;
  line-height: 0;
}

.portfolio-details .portfolio-description .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.portfolio-details .portfolio-description .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  transform: scale(-1, -1);
}

.portfolio-details .portfolio-description .testimonial-item p {
  font-style: italic;
  margin: 0 0 15px 0 0 0;
  padding: 0;
}


/*--------------------------------------------------------------
# Our Team Section
--------------------------------------------------------------*/
.team .member {
  text-align: center;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
}

.team .member img {
  border-radius: 10px;
  overflow: hidden;
}

.team .member .member-content {
  padding: 0 20px 30px 20px;
}

.team .member h4 {
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 2px;
  font-size: 20px;
}

.team .member span {
  font-style: italic;
  display: block;
  font-size: 14px;
  color: #6c757d;
}

.team .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #6c757d;
}

.team .member .social {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.team .member .social a {
  color: #a2a2a2;
  transition: 0.3s;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #bbbbbb;
}

.team .member .social a:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/*--------------------------------------------------------------
# Pricing Section
--------------------------------------------------------------*/
.pricing .pricing-item {
  padding: 60px 40px;
  box-shadow: 0 3px 20px -2px rgba(108, 117, 125, 0.15);
  background: #fff;
  height: 100%;
  position: relative;
  border-radius: 15px;
}

.pricing h3 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
  color: #555555;
  text-align: center;
}

.pricing .icon {
  margin: 30px auto 30px auto;
  width: 70px;
  height: 70px;
  background: var(--color-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  transform-style: preserve-3d;
}

.pricing .icon i {
  color: #fff;
  font-size: 28px;
  transition: ease-in-out 0.3s;
  line-height: 0;
}

.pricing .icon::before {
  position: absolute;
  content: "";
  height: 86px;
  width: 86px;
  border-radius: 50%;
  background: #87c1bb;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
}

.pricing .icon::after {
  position: absolute;
  content: "";
  height: 102px;
  width: 102px;
  border-radius: 50%;
  background: #d2eeeb;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-2px);
}

.pricing h4 {
  font-size: 48px;
  color: var(--color-secondary);
  font-weight: 700;
  font-family: var(--font-secondary);
  margin-bottom: 0;
  text-align: center;
}

.pricing h4 sup {
  font-size: 28px;
}

.pricing h4 span {
  color: rgba(108, 117, 125, 0.8);
  font-size: 18px;
  font-weight: 400;
}

.pricing ul {
  padding: 20px 0;
  list-style: none;
  color: #6c757d;
  text-align: left;
  line-height: 20px;
}

.pricing ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.pricing ul i {
  color: #059652;
  font-size: 24px;
  padding-right: 3px;
}

.pricing ul .na {
  color: rgba(108, 117, 125, 0.5);
}

.pricing ul .na i {
  color: rgba(108, 117, 125, 0.5);
}

.pricing ul .na span {
  text-decoration: line-through;
}

.pricing .buy-btn {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 50px;
  color: var(--color-primary);
  border: 1px solid rgba(0, 131, 116, 0.2);
  transition: none;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-primary);
  transition: 0.3s;
}

.pricing .buy-btn:hover {
  background: var(--color-primary);
  color: #fff;
}

.pricing .featured {
  z-index: 10;
  border: 3px solid var(--color-primary);
}

@media (min-width: 992px) {
  .pricing .featured {
    transform: scale(1.15);
  }
}

/*--------------------------------------------------------------
# Frequently Asked Questions Section
--------------------------------------------------------------*/
.faq .content h3 {
  font-weight: 400;
  font-size: 34px;
}

.faq .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.faq .content p {
  font-size: 15px;
  color: #6c757d;
}

.faq .accordion-item {
  border: 0;
  margin-bottom: 20px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.faq .accordion-item:last-child {
  margin-bottom: 0;
}

.faq .accordion-collapse {
  border: 0;
}

.faq .accordion-button {
  padding: 20px 50px 20px 20px;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-default);
  text-align: left;
  background: #fff;
  box-shadow: none;
  border-radius: 10px;
}

.faq .accordion-button .num {
  padding-right: 10px;
  font-size: 20px;
  line-height: 0;
  color: var(--color-primary);
}

.faq .accordion-button:not(.collapsed) {
  color: var(--color-primary);
  border-bottom: 0;
  box-shadow: none;
}

.faq .accordion-button:after {
  position: absolute;
  right: 20px;
  top: 20px;
}

.faq .accordion-body {
  padding: 0 40px 30px 45px;
  border: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: none;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  position: relative;
  background: var(--color-primary);
  padding: 60px 0 0 0;
}

@media (min-width: 1365px) {
  .hero {
    background-attachment: fixed;
  }
}

.hero h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.hero p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  margin-bottom: 30px;
}

.hero .btn-get-started {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 40px;
  border-radius: 50px;
  transition: 0.3s;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.hero .btn-get-started:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.hero .btn-watch-video {
  font-size: 16px;
  transition: 0.5s;
  margin-left: 25px;
  color: #fff;
  font-weight: 600;
}

.hero .btn-watch-video i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
}

.hero .btn-watch-video:hover i {
  color: #fff;
}

@media (max-width: 640px) {
  .hero h2 {
    font-size: 36px;
  }

  .hero .btn-get-started,
  .hero .btn-watch-video {
    font-size: 14px;
  }
}

.hero .icon-boxes {
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .hero .icon-boxes:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(50% + 20px);
    background-color: #fff;
  }
}

.hero .icon-box {
  padding: 60px 30px;
  position: relative;
  overflow: hidden;
  background: #008d7d;
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  height: 100%;
  width: 100%;
  text-align: center;
}

.hero .icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.hero .icon-box .title a {
  color: #fff;
  transition: 0.3s;
}

.hero .icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 48px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);
}

.hero .icon-box:hover {
  background: #009786;
}

.hero .icon-box:hover .title a,
.hero .icon-box:hover .icon {
  color: #fff;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


.newsletter {
  display: flex;
  align-items: center;
}

.newsletter i {
  color: #9b9b9b;
  font-size: 28px;
}


.newsletter a p {
  color: #9b9b9b;
  margin-left: 35px;
  margin-top: -32px;
}


.footer .footer-info-single {
  margin-top: 80px;
  /* width: 50%; */
}

.footer .footer-info-single .title {
  color: #aaa;
  font-size: 19px;
}

.footer .footer-info-single ul li a {
  display: block;
  color: #757575;
  padding: 2px 0;
  font-family:var( --font-secondary) ;
  font-size: 14px;
}

.footer .footer-info-single ul li a:hover {
  color: #dadada;
  transition: 0.3s;
}

.footer .footer-info-single p {
  font-size: 13px;
  line-height: 20px;
  color: #aaa;
}

.footer .copyright {
  margin-top: 15px;
  background: #111;
  /* padding: 7px 0; */
  color: #999;
}
.copyright p{
  color: #7a7a7a;
}

.copyright p a{
  color: #757575;
}

.white-line {
  border: none; 
  height: 1px;
  background-color: #dadada; 
  margin: 20px 0;
}

@media (min-width: 768px) {
  #preloader img {
    width: 30%; 
  }
  
  #preloader:before {
    height: 8px; 
  }
}